{% extends "base.html" %} {% block content %}
<ul>
    <li><a href="/register_user">Cadastrar usuario</a></li>
    <li><a href="/register_sensor">Cadastrar sensores</a></li>
    <li><a href="/register_actuator">Cadastrar atuadores</a></li>
    <li><a href="/list_users">Listar usuarios</a></li>
    <li><a href="/list_sensors">Listar sensores</a></li>
    <li><a href="/list_actuators">Listar atuadores</a></li>
    <li><a href="/remove_user">Remover usuario</a></li>
    <li><a href="/remove_sensor">Remover sensor</a></li>
    <li><a href="/remove_actuator">Remover atuador</a></li>
</ul>

{% endblock content %}
