<!--register_user.html -->
{% extends"base.html" %} {% block content%}
<div class="vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form action="http://localhost/edit_actuator_form?name={{request.args.get('name')}}" method="POST">
                        <p>Novo nome do atuador: </p>
                        <p>
                            <input
                                type="text"
                                name="actuator"
                                placeholder="{{request.args.get('name')}}"
                                required />
                        </p>
                        <p><input type="submit" value="Editar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

