<!--edit_reading.html -->
{% extends"base.html" %} {% block content%}
<div class="vertical-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <div class="card-body">
                    <form action="http://localhost/edit_reading_form?name={{request.args.get('name')}}" method="POST">
                        <p>Nova leitura do sensor: </p>
                        <p>
                            <input
                                type="text"
                                name="reading"
                                placeholder="Leitura"
                                required />
                        </p>
                        <p><input type="submit" value="Editar" /></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}

